# **cleaning data frame**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(data=[np.arange(11,16),
             [np.nan,45,56,np.nan,67],
             [56,90,np.nan,67,np.nan]],
             index=['A','B','C'],
             columns=['P','Q','R','S','T'])

In [ ]:
df

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B   NaN  45  56.0   NaN  67.0
C  56.0  90   NaN  67.0   NaN

In [ ]:
df.isnull()

       P      Q      R      S      T
A  False  False  False  False  False
B   True  False  False   True  False
C  False  False   True  False   True

In [ ]:
df.isna()

       P      Q      R      S      T
A  False  False  False  False  False
B   True  False  False   True  False
C  False  False   True  False   True

In [ ]:
df.notnull()

       P     Q      R      S      T
A   True  True   True   True   True
B  False  True   True  False   True
C   True  True  False   True  False

In [ ]:
df.fillna(99)

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B  99.0  45  56.0  99.0  67.0
C  56.0  90  99.0  67.0  99.0

In [ ]:
df.isnull().sum().sum()#to print how many empty are there

4

In [ ]:
df

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B   NaN  45  56.0   NaN  67.0
C  56.0  90   NaN  67.0   NaN

In [ ]:
df['P'].isnull().sum()

1

In [ ]:
df.iloc[2:4].sum()

P    56.0
Q    90.0
R     0.0
S    67.0
T     0.0
dtype: float64

In [ ]:
df.iloc[1:2].isnull().sum()

P    1
Q    0
R    0
S    1
T    0
dtype: int64

In [ ]:
df

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B   NaN  45  56.0   NaN  67.0
C  56.0  90   NaN  67.0   NaN

In [ ]:
df['P']#to access data row wise

A    11.0
B     NaN
C    56.0
Name: P, dtype: float64

In [ ]:
df[['P','Q']]

      P   Q
A  11.0  12
B   NaN  45
C  56.0  90

In [ ]:
df.loc['A']#location is used for the column wise data to access

P    11.0
Q    12.0
R    13.0
S    14.0
T    15.0
Name: A, dtype: float64

In [ ]:
df.loc[['A','B']]

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B   NaN  45  56.0   NaN  67.0

In [ ]:
df

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B   NaN  45  56.0   NaN  67.0
C  56.0  90   NaN  67.0   NaN

In [ ]:
df.isnull()

       P      Q      R      S      T
A  False  False  False  False  False
B   True  False  False   True  False
C  False  False   True  False   True

In [ ]:
df.isnull().sum().sum()#to count not a number values in entier data frame

4

P    1
Q    0
R    1
S    1
T    1
dtype: int64

In [ ]:
df.isna().sum()

P    1
Q    0
R    1
S    1
T    1
dtype: int64

In [ ]:
df.describe()

               P          Q          R          S          T
count   2.000000   3.000000   2.000000   2.000000   2.000000
mean   33.500000  49.000000  34.500000  40.500000  41.000000
std    31.819805  39.153544  30.405592  37.476659  36.769553
min    11.000000  12.000000  13.000000  14.000000  15.000000
25%    22.250000  28.500000  23.750000  27.250000  28.000000
50%    33.500000  45.000000  34.500000  40.500000  41.000000
75%    44.750000  67.500000  45.250000  53.750000  54.000000
max    56.000000  90.000000  56.000000  67.000000  67.000000

In [ ]:
df.fillna(np.mean(df))

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B  33.5  45  56.0  40.5  67.0
C  56.0  90  34.5  67.0  41.0

In [ ]:
df.dropna()

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0

In [ ]:
df

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B   NaN  45  56.0   NaN  67.0
C  56.0  90   NaN  67.0   NaN

In [ ]:
df.dropna(axis=1)

    Q
A  12
B  45
C  90

In [ ]:
df.dropna(axis=0)

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0

In [ ]:
df.fillna(55,inplace=True)

In [ ]:
df

      P   Q     R     S     T
A  11.0  12  13.0  14.0  15.0
B  55.0  45  56.0  55.0  67.0
C  56.0  90  55.0  67.0  55.0

In [ ]:
df1=pd.DataFrame(data=[np.arange(11,16),
             [np.nan,45,56,'',67],
             [56,90,np.nan,67,'']],
             index=['A','B','C'],
             columns=['P','Q','R','S','T'])

In [ ]:
df1

      P   Q     R   S   T
A  11.0  12  13.0  14  15
B   NaN  45  56.0      67
C  56.0  90   NaN  67