**list:
  -ordered,collection of similar(or)different data elements
  -supports indexing both +ve & -ve
  -mutable
  -created by using [] & seperated by ','
syntax:-
   variable=[v1,v2,v3,---vn]**

In [ ]:
even=[2,4,6,8,10]
my_list=[1201,'abc','it',True]

In [ ]:
my_list

[1201, 'abc', 'it', True]

In [ ]:
n=int(input("enter the n value"))
for i in range(0,n):
  for j in range(0,n):
    print("*",end=" ")
  print()

enter the n value9
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

In [ ]:
for i in range(0,n):
  for j in range(0,i+1):
    print('*',end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
for i in range(0,n):
  for j in range(0,n-i):
    print("*",end=" ")
  print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(0,n):
  for j in range(0,n-i):
    print(" ",end=" ")
  for k in range(0,i+1):
    print("*",end=" ")
  print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *

In [ ]:
a=float(int(input()))
print(type(a))

5
<class 'float'>

**prime numbers
**

In [ ]:
n=int(input())
for k in range(2,n*n):
  count=0
  for i in range(1,k+1):
    if(k%i==0):
      count+=1
  if(count==2):
    print(k)
    j+=1
  if(j==n):
    break

9
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79