***AIM:Create a IPython Module To Work With Pandas:Series and DataFrame  ***

**Creating a Series**

In [ ]:
import pandas as pd
import numpy as np
numbers=[10,20,30,40,50]
labels=['A','B','C','D','E']
ser=pd.Series(data=numbers,index=labels)

In [ ]:
ser

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [ ]:
type(ser)

pandas.core.series.Series

In [ ]:
ser1=pd.Series(np.arange(5,10))#if we doesnt specify  the index it will take default values like array
ser1

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [ ]:
ser2=pd.Series(np.arange(5,10),['a','b','c','d','e'])
ser2

a    5
b    6
c    7
d    8
e    9
dtype: int64

# **Creating series from dictionary**

In [ ]:
import pandas as pd
ser4=pd.Series({'A':65,'B':66,'C':67,'D':68})
print(ser4)

A    65
B    66
C    67
D    68
dtype: int64

In [ ]:
myd={'a':97,'b':98,'c':99,'d':100}#creating series from dictionary

In [ ]:
ser3=pd.Series(myd)
ser3

a     97
b     98
c     99
d    100
dtype: int64

In [ ]:
ser4=pd.Series(myd,name="ASCII")
ser4

a     97
b     98
c     99
d    100
Name: ASCII, dtype: int64

In [ ]:
#Accessing elements in series
ser[1]

NameError: ignored

In [ ]:
ser4['b']

98

In [ ]:
ser5=pd.Series(np.arange(15,23),'a b c d e f g h'.split())
ser5

a    15
b    16
c    17
d    18
e    19
f    20
g    21
h    22
dtype: int64

In [ ]:
print('a b c d e f g h'.split())

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

**Slicing**

In [ ]:
ser5[['a','b','c']]#Fancy Indexing

a    15
b    16
c    17
dtype: int64

In [ ]:
ser5[:3]#slicing

a    15
b    16
c    17
dtype: int64

In [ ]:
ser5[['f','e','c']]#Fancy Indexing

f    20
e    19
c    17
dtype: int64

In [ ]:
ser5>13#boolean Indexing

a    True
b    True
c    True
d    True
e    True
f    True
g    True
h    True
dtype: bool

In [ ]:
ser5>18

a    False
b    False
c    False
d    False
e     True
f     True
g     True
h     True
dtype: bool

In [ ]:
ser5[ser5>19]#we will get only greater than values that is true----   Boolean Indexing

f    20
g    21
h    22
dtype: int64

In [ ]:
ser1

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [ ]:
#to change the index
ser1.reindex(['p','q','r','s','t'],)

p   NaN
q   NaN
r   NaN
s   NaN
t   NaN
dtype: float64

**Create a DataFrame**

In [ ]:
df=pd.DataFrame(data=np.random.randint(1,20,size=(4,3)),index=['A','B','C','D'],columns=['W','x','Y'])
df

In [ ]:
df

    W   x   Y
A   2   6   5
B  11   4  15
C   4  13  15
D  16  10  12

In [ ]:
df['W']#Accessing column

A     2
B    11
C     4
D    16
Name: W, dtype: int64

In [ ]:
#to access the row
df.loc['A']

W    2
x    6
Y    5
Name: A, dtype: int64

In [ ]:
df

    W   x   Y
A   2   6   5
B  11   4  15
C   4  13  15
D  16  10  12

In [ ]:
df.iloc[2]#index location (Or)Normal Indexing

W     4
x    13
Y    15
Name: C, dtype: int64

In [ ]:
df.W#to Access column

A     2
B    11
C     4
D    16
Name: W, dtype: int64

In [ ]:
df['Z']=df['W']+df['Y']
df

    W   x   Y   Z
A   2   6   5   7
B  11   4  15  26
C   4  13  15  19
D  16  10  12  28

In [ ]:
#with respect to to columns retieve sub dataframe
df[['W','Z']]

    W   Z
A   2   7
B  11  26
C   4  19
D  16  28

In [ ]:
df[['W','Z']].loc[['A','C','D']]#to access paricular rows

    W   Z
A   2   7
C   4  19
D  16  28

In [ ]:
#wrt to rows retieve sub dataframe
df.loc[['A','D']]

    W   x   Y   Z
A   2   6   5   7
D  16  10  12  28

In [ ]:
df.loc[['A','D']][['x','Y']]

    x   Y
A   6   5
D  10  12

In [ ]:
df['W']['B']

11

In [ ]:
df6=pd.DataFrame(data=np.random.randint(1,20,size=(5,3)),index=['A','B','C','D','E'],columns=['W','x','Y'])
df6

    W   x   Y
A   7   4   9
B  17  16  16
C   9   7  17
D   8   4  16
E  18  17   3

In [ ]:
c